- provide(:title, 'HOME')
.container
  %h2 質問
  %table.table.table-bordered.table-hover.text-center
    %thead
      %tr
        %th{:scope => "col"} 教科
        %th{:scope => "col"} 質問
        %th{:scope => "col"} コメント
    %tbody
      - @questions.each do |q|
        %tr
          %td= q.subject_i18n
          %td= link_to q.content, question_path(q)
          - q.answers.each do |a|
            %td= a.content
  = paginate @questions
