- provide(:title, '解答詳細')
.container
  .answer_details
    %ul.list-group
      -if @answer.answer_images.present?
        %li.list-group-item
          - @answer.answer_images.each do |answer_image|
            %img= image_tag answer_image.file.url, class: "card-img-top"
      %li.list-group-item= @answer.content
      - if current_user.id == @answer.user_id
        %li.list-group-item
          = link_to "編集する", edit_question_answer_path(@question, @answer), class: "btn btn-primary btn-sm"
          = link_to "削除する", question_answer_path(@question), method: :delete, class: "btn btn-danger btn-sm",  data: { confirm: '本当に削除してよろしいですか？' }
