.questionLike__heart
- if question.question_like_user(current_user.id)
  = link_to question_question_like_path(question, question.question_likes.ids), method: :delete, remote: true do
    .fa.fa-heart.fa-lg.questionLike_heart_icon
- else
  = link_to question_question_likes_path(question), method: :post, remote: true do
    .fa.fa-heart-o.fa-lg.questionLike_heart_icon
