.question-like__heart
- if question.user_question_liked?(current_user.id)
  = link_to question_question_like_path(question, question.question_likes.ids), method: :delete, remote: true do
    .fa.fa-heart.fa-lg.question-like_heart_icon
- else
  = link_to question_question_likes_path(question), method: :post, remote: true do
    .fa.fa-heart-o.fa-lg.question-like_heart_icon
