$(".js-question_like-button-#{@question_like.question_id}").html("#{j(render partial: 'question_likes/question_like', locals: { question: @question_like.question, user_id: @question_like.user_id })}");
