.question-detail {
  margin-bottom: 50px;
}

.question-detail_answer_title {
  border-bottom: 1px solid #aaa;
}

.question-detail__title {
  border-bottom: 1px solid #aaa;
}

.question-list {
  margin-bottom: 20px;
}

.question-detail__content {
  color: black;
}

.question-detail__like {
  color: black;
}
