.questionTable {
  table-layout: fixed;
  .questionTable__first-table {
    width: 15%;
  }
  .questionTable__second-table {
    width: 65%;
  }
    .questionTable__content {
      text-align: left;
    }
    .questionTable__subject {
    display: table-cell;
    line-height: normal;
    font-size: 100%;
}
}
